/* Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

.Architects-title {
    color: #FF900E;
}


header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 250px;
}

/* nav-title */
.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    align-items: center;
}


nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 600;

}

nav li a {
    color: var(--Dark-01, #131313);
}

/* banner-styles */

.banner-contain {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-discription {
    color: #727272;
    font-size: 16px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    width: 200px;
    height: 64px;
    color: aliceblue;
    padding: 20px 25px;
    font-size: 20px;
    cursor: pointer;
    border: 0;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}


/* main styles */
main {
    max-width: 1400px;
    margin: 70px auto;
}

/* team style */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-image {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 45px;

}

.team-title .quick {
    color: #727272;
    font-weight: 500;
}

.team-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.team-discription {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;

}

/* Some Facts */

.facts-title {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.fact-discription {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.facts-container {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.facts-container .facts-card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px 30px;

}

.facts-container .card-title {
    font-weight: 600;


}

.facts-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;


}

/* sponsors section */
.sponsors {
    text-align: center;
    padding-top: 30px;

}

.section-title {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;

}

.text-dispriction {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;

}

.sponsors-img-containet {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-top: 50px;
    gap: 40px;
    align-items: center;
}

.sponsors-img-containet img {
    width: 165px;
    
}

/* responstive styles */
/* mubile device */

@media screen and (max-width: 576px) {
    .some-fact{
        text-align: center;
    }


    .nav-title {
        font-size: 2.8rem;
        font-weight: 700;
        color: #131313;
        align-items: center;
    }

    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-container,
    .sponsors-img-containet {
        flex-direction: column;
    }

    .teams-image {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .team-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    ..facts-container {
        gap: 30px;
    }

    .team-title {
        font-size: 45px;
        text-align: center;

    }

}


/* tablet or phn device */
@media screen and (min-width: 576px) and (max-width: 962px) {

    .some-fact{
        text-align: center;
    }

    .nav-title {
        /* font-size: 2.8rem; */
        font-weight: 700;
        color: #131313;
        align-items: center;
    }

    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .facts-container,
    .sponsors-img-containet 
    {
        flex-direction: column;
    }

    .team-title {
        font-size: 45px;
        text-align: center;

    }

}